body {
  margin-top: 25%;
  margin-bottom: 20px;
}

#landingPage {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

img {
  display: block;
  height: 130px;

  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

p {
  color: #2A2A2A;
  text-align: center;
  font-family: sans-serif;

  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  color: #FFFFFF;
  background-color: #2196F3;
  text-decoration: none;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

a:hover {
  background-color: #2196F3;
}
